#create_author_modal.modal.fade{role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", type: "button"} ×
      .modal-body
        %span
          = render 'form', category: @category