.all-books
  .row
    .col-12.col-sm-12
      %h1
        Top books
  =render 'welcome/table_books', books: @top_books
  .row
    .col-12.col-sm-12
      %h1
        All books
  =render 'welcome/table_books', books: @books
=link_to 'Create book', new_book_path