=form_with(model: [ @book, @book.likes.build ] , remote: true, url: new_like_book_path(book_id: @book.id), html: { oninput: 'submitedForm();' }) do |form|
  %fieldset.stars
    -(1..5).each do |i|
      -#=form.collection_radio_buttons do |b|
      -#  =b.label { b.radio_button + image_tag('star.png') }
      =form.radio_button :like, 6 - i, id: "star#{ 6 - i }", checked: true
      =form.label :like, for: "star#{ 6 - i }"
      -#%input{ type: 'radio', id: "star#{i}"}
      -#%label{ for: "star#{i}" }
  =form.submit style: 'display: none;', id: 'send-like'
