.show-book
  %h1
    =@book.name
  .row
    .col-8
      .rating-stars
        #form-rating
          =render 'form_rating', book: @book
        -if @book.is_liked_by(current_user.id)
          .rating-count
            %p
              You put
              %span
                =@old_like.count_of_stars
              stars
    .col-4
      .book-action
        =button_to "#{ @book.status ? 'Take' : @book.is_taken_by(current_user.id) ? 'Return' : 'Busy'}", take_return_book_path(@book), id: 'action-book', method: :post, remote: true, class: "btn btn-#{ @book.status ? 'primary' : 'secondary' }"
  .image-description
    .row
      .col-6
        -if(@book.image)
          =image_tag(@book.image, class: 'book-image')
        -else
          =image_tag('book-no-image.png')
      .col-6
        .description
          %p
            =@book.description
  #book-comments
    =render @book.comments
  =render 'comments/form'

  -if(@histories.length != 0)
    #book-histories
      .row
        .col-12.col-sm-12
          =render 'books/histories', histories: @histories

