.show-book
  %h1
    =@book.name
  .row
    .col-8
      .rating-stars
        #form-rating
          =render 'likes/form', book: @book
        #rating-count{ style: "visibility: #{ @book.liked_by?(current_user.id) ? 'visible' : 'hidden' }" }
          =render 'likes/count_stars', like: @like
    .col-4
      .book-action
        -if @book.available
          =button_to 'Take', take_book_path(@book), id: 'action-book', method: :put, remote: true, class: 'btn btn-primary'
        -else
          =button_to "#{ @book.taken_by?(current_user.id) ? 'Return' : 'Busy' }", return_book_path(@book), id: 'action-book', method: :put, remote: true,
            class: "#{ @book.taken_by?(current_user.id) ? 'btn btn-secondary' : 'btn btn-secondary disabled' }"
  .image-description
    .row
      .col-6
        -if(@book.image)
          =image_tag(@book.image, class: 'book-image')
        -else
          =image_tag('book-no-image.png')
      .col-6
        .description
          %p
            =@book.description
  .table-wrapper-scroll-y
    #book-comments
      =render @comments
  =render 'comments/form'

  #book-histories{ style: "visibility: #{ @histories.length != 0 ? 'visible' : 'hidden' }" }
    .row
      .col-12.col-sm-12
        =render 'books/histories', histories: @histories
