// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all-books {
  h1 {
    text-align: center;
  }

  table {
    min-width: 100%;
  }

  a:link {
    text-decoration: none;
    text-decoration-color: black;
  }
}

.show-book {
  margin-right: 3%;
  margin-left: 3%;
  h1 {
    text-align: center;
  }
}

.image-description {
  margin-top: 5%;
}

.description {
  margin-left: -8%;
  max-height: 200px;
  overflow-y: scroll;
  margin-bottom: 10%;
}

.book-image {
  width: 100%;
  max-height: 200px;
}

.like {
  width: 40px;
  height: 40px;
}

.like-rigth {
  float: right;
  width: 40px;
  height: 40px;
}

.like-left {
  float: left;
  width: 40px;
  height: 40px;
}

.container-like {
  display: inline;
}

.form-book {
  text-align: center;
  max-width: 90%;
  margin: 3% auto;
}

.pagination {
  margin-top: 3%;
  justify-content: center;
}