.avatar-input {
  text-align: center;
}

.no-avatar {
  label {
    cursor: pointer;
    width: 150px;
    height: 200px;
    content: url("avatar_90929.png");
  }

  input {
    display: none;
  }
}

.page-log-in {
  max-width: 90%;
  margin: auto;
}
